table.charlist {
	width: 100%;
	margin: 2px 0px;
}

	table.charlist tr {
		color: #cbcbcb;
		font-size: 14px;
	}

	table.charlist tr.dark {
		background: url("/s/images/ae/main/row_dark.png");
	}
	
	table.charlist tr.light {
		background: url("/s/images/ae/main/row_light.png");
	}
	
	table.charlist tr:hover {
		background: black;
	}
	
	table.charlist tr.alliance td.name {
		color: #60d4ff;
	}
	
	table.charlist tr.horde td.name {
		color: #ff3b3b;
	}
	
	table.charlist th {
		padding: 4px;

		background: black;
		
		color: #777;
		text-align: center;
		font-size: 12px;
		font-weight: normal;
	}
	
		table.charlist th.active {
			cursor: pointer;
		}
		
			table.charlist th.active:hover {
				background-color: #222;
				color: #60d4ff;
			}
			
		table.charlist th.current_sort {
			background: #333 no-repeat 8px center;
		}
		
			table.charlist th.current_sort.sort_order_asc {
				background-image: url('/s/images/controls/sort_0.gif');
			}
			
			table.charlist th.current_sort.sort_order_desc {
				background-image: url('/s/images/controls/sort_1.gif');
			}
	
	table.charlist td {
		padding: 0px 3px;
		height: 50px;
		
		border-bottom: 1px solid #333;
	}

		table.charlist td.number {
			width: 35px;
			text-align: center;
		}
	
		table.charlist td.name {
			text-align: left;
		}
		
		table.charlist td.level {
			width: 100px;
			text-align: center;
		}
		
		table.charlist td.race,
		table.charlist td.class {
			width: 20px;
		}
		
			table.charlist td.race div,
			table.charlist td.class div {
				width: 25px;
				height: 25px;
				
				background-image: url('/s/images/icons.png');
				background-repeat: no-repeat;
			}
		
		table.charlist td.location {
			width: 300px;
			text-align: left;
		}
		
		table.charlist td.honor {
			text-align: center;
			width: 80px;
		}
		
		table.charlist td.kills {
			text-align: center;
			width: 80px;
		}
		
		table.charlist td.arena {
			text-align: center;
			width: 80px;
		}
		
		table.charlist td.guild_name {
			text-align: left;
		}
		
			table.charlist td.guild_name div {
				width: 25px;
				height: 25px;
				margin-right: 7px;
				
				float: left;
				
				background: url('/s/images/icons.png') no-repeat;
			}
			
				table.charlist .alliance td.guild_name div {
					background-position: -275px 0px;
				}
			
				table.charlist .horde td.guild_name div {
					background-position: -275px -25px;
				}
		
			table.charlist td.guild_name a {
				line-height: 25px;
			}

		table.charlist td.guild_leader {
			text-align: center;
		}
		
		table.charlist td.guild_members {
			text-align: center;
			width: 150px;
		}
		
		table.charlist td.guild_rank {
			text-align: center;
		}
		
		table.charlist td.guild_online {
			text-align: center;
			width: 85px;
		}
		
		table.charlist td.gm_level {
			text-align: center;
		}
		
		table.charlist td.gm_online {
			text-align: center;
		}
		
		table.charlist td.banlist_target {
			text-align: left;
		}
		
		table.charlist td.banlist_start {
			text-align: center;
		}
		
		table.charlist td.banlist_end {
			text-align: center;
		}
		
		table.charlist td.ach_count {
			text-align: center;
			width: 200px;
		}
		
		table.charlist td.top20_value {
			text-align: center;
			width: 200px;
		}
		
		table.charlist td.team_name {
			text-align: left;
		}
		
			table.charlist td.team_name div {
				width: 25px;
				height: 25px;
				margin-right: 7px;
				
				float: left;
				
				background: url('/s/images/icons.png') no-repeat;
			}
			
				table.charlist .alliance td.team_name div {
					background-position: -275px 0px;
				}
			
				table.charlist .horde td.team_name div {
					background-position: -275px -25px;
				}
		
			table.charlist td.team_name a {
				line-height: 25px;
			}
		
		table.charlist td.team_leader {
			text-align: center;
			width: 200px;
		}
		
		table.charlist td.team_rating {
			text-align: center;
			width: 100px;
		}
		
		table.charlist td.team_week {
			text-align: center;
			width: 100px;
		}
		
		table.charlist td.team_total {
			text-align: center;
			width: 100px;
		}
		
		table.charlist td.team_points {
			text-align: center;
			width: 150px;
		}
		
/*Расы*/
.r1_0 {
	background-position: 0px -25px;
}

.r1_1 {
	background-position: 0px -50px;
}

.r2_0 {
	background-position: -25px -25px;
}

.r2_1 {
	background-position: -25px -50px;
}

.r3_0 {
	background-position: -50px -25px;
}

.r3_1 {
	background-position: -50px -50px;
}

.r4_0 {
	background-position: -75px -25px;
}

.r4_1 {
	background-position: -75px -50px;
}

.r5_0 {
	background-position: -100px -25px;
}

.r5_1 {
	background-position: -100px -50px;
}

.r6_0 {
	background-position: -125px -25px;
}

.r6_1 {
	background-position: -125px -50px;
}

.r7_0 {
	background-position: -150px -25px;
}

.r7_1 {
	background-position: -150px -50px;
}

.r8_0 {
	background-position: -175px -25px;
}

.r8_1 {
	background-position: -175px -50px;
}

.r10_0 {
	background-position: -225px -25px;
}

.r10_1 {
	background-position: -225px -50px;
}

.r11_0 {
	background-position: -250px -25px;
}

.r11_1 {
	background-position: -250px -50px;
}

/*Классы*/
.c1 {
	background-position: 0px 0px;
}

.c2 {
	background-position: -25px 0px;
}

.c3 {
	background-position: -50px 0px;
}

.c4 {
	background-position: -75px 0px;
}

.c5 {
	background-position: -100px 0px;
}

.c6 {
	background-position: -125px 0px;
}

.c7 {
	background-position: -150px 0px;
}

.c8 {
	background-position: -175px 0px;
}

.c9 {
	background-position: -200px 0px;
}

.c11 {
	background-position: -250px 0px;
}
