#forum div.record {
	margin-bottom: 20px;
}

	#forum div.record:last-child {
		margin-bottom: 0px;
	}

#forum p.date {
	font-size: 12px;
	font-style: italic;
	
	color: #AAA;
	
	float: right;
}

#forum p.bubble {
	background: url("/s/images/ae/main/forum_bubble.png") no-repeat;
	width: 495px;
	height: 50px;
	
	color: black;
	line-height: 65px;
	font-size: 12px;

	padding: 0px 10px;
	text-align: left;
	
	overflow: hidden;
}
